root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,md,ts,tsx,css,html,mjs}]
indent_style = space
indent_size = 2

[*.md]
max_line_length = off

[*.sh]
indent_style = space
indent_size = 2

[*.{ttf,ismp}]
trim_trailing_whitespace = false
insert_final_newline = false
